@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	body {
		@apply dark:bg-gray-900;
		@apply bg-slate-50;
		@apply text-black;
		@apply dark:text-gray-100;
	}
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}